.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery .empty-msg {
  margin-top: 20px;
  font-size: 42px;
  color: var(--link-color);
}

@media (max-width: 768px) {
  .gallery .empty-msg {
    font-size: 20px;
  }
}
