.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}