.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color-2);
    height: 15vh;
    gap: 10px;
}

.header span {
    width: 35%;
}

.header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
}
