.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  border-top: 1px solid black;
  background-color: var(--bg-color-2);
  color: var(--bg-color);
  top: 0;
  position: sticky;
  z-index: 1;
}

@media (max-width: 768px) {
  .filters {
    height: 20vh;
    padding: 5px;
  }

  .filters {
    justify-content: center;
    display: grid;
  }
  .filters .filter label {
    font-size: 12px;
  }
}
