.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    border-top: 1px solid black;
    background-color: var(--bg-color-2);
    color: var(--bg-color);
    top: 0;
    position: sticky;
    z-index: 1;
}

.filters .filters-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filters .filters-form .selections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.filters .filters-form .selections .filter label {
    margin-left: 5px;
}

.filter .filters-form .selections .filter .chkbox {
    
}

.filter .filters-form .selections .filter .chkbox:checked {
    background-color: var(--link-color);
}

.filters .filters-form .buttons {

}