* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --link-color: #f93822;
  --font-color-1: #d7d7d7;
  --font-color-2: #030303;
  --bg-color: #242424;
  --bg-color-2: #6a6a6a;
  --btn-color: rgb(211, 32, 42);
  --btn-color-hover: rgb(235, 159, 130);
  --btn-disabled: #f3c5b3;
}

button {
  color: var(--bg-color);
  background-color: var(--btn-color);
  border: none;
  transition: all ease 0.3s;
  color: var(--font-color-2);
}

button:disabled {
  background-color: var(--btn-disabled);
  color: var(--font-color-1);
  cursor: not-allowed;
}

button:enabled:hover {
  background-color: var(--btn-color-hover);
  cursor: pointer;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.card img {
  border-radius: 1.5rem;
  width: 100%;
}

.card span {
  margin: 5px;
  opacity: 0.5;
  text-align: center;
  color: var(--font-color-1);
}

@media (max-width: 768px) {
  .card span {
    font-size: 6px;
    margin: 0;
  }
  .card span:first-of-type {
    margin-top: 5px;
  }
  .card img {
    border-radius: 0.5rem;
  }
}

